
<div class="container">
    <a name="about"></a>
    <div class="row">
        <div class="col-sm-8">

          <!-- <h3 class="text-center top-space">Apply for resources</h3> -->
	  <div class="row">

            <p>The Dellingr project want to offer easy and immediate
            access to Nordic e-Infrastructure for small resource
            projects. Small resource projects are projects that
            require a small volume of resources for a limited period,
            like a few hundred thousand CPU core hours over a 3-4 month
            time period. The idea is to provide access to Nordic
            Infrastructure resources for emerging research
            projects.</p>

	    <p>The current Dellingr pilot is not accepting applications any more.
	      We hope to have a further call later this year with improvements
	      based on the experiences from this pilot project.</p>
	    <p>Work performed with the aid of resources obtained through this pilot may be acknowledged by:
	      "This work was made possible (in part) by usage of computing resources at (institution) through the
	      NeIC Dellingr resource sharing pilot." (or similar).

	    <p>A summary of the applications served by the first pilot can be found
	      <a href=https://wiki.neic.no/wiki/Dellingr/FirstPilotApplications>here</a>.
	    </p>

	    <!--
            <p><a href='https://neicdellingr.typeform.com/to/kfZAKR' class="neicButton">Apply</a></p>
	    -->
	    
	    Do you have question? Here are our <a href='https://neicdellingr.typeform.com/to/ErPZtQ'>FAQ </a> where you also can submit a question.


<style type='text/css'>
.neicButton {
	background-color:#00b3fe;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #384452;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.neicButton:hover {
	background-color:#003bfe;
}
.neicButton:active {
	position:relative;
	top:1px;
}
</style>
