<div id="footerwrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h4>About</h4>
				<div class="hline-w"></div>
				<p>
					Dellingr is a Nordic collaborative project organized by <a href="https://neic.nordforsk.org" target="_blank">Nordic
					e-Infrastructure Collaboration</a> (NeIC).
					NeIC is an organisational unit under <a href="http://www.nordforsk.org/en"
															target="_blank">NordForsk</a>.
				</p>
			</div>

			<div class="col-lg-6">
				<h4>Contact</h4>
				<div class="hline-w"></div>
				<p>
					John White, NeIC
					<br>
					<a href="mailto:john.white@cern.ch">john.white@cern.ch</a>
				</p>
			</div>
		</div>
	</div>
</div>
