<div class="container mtb">
    {% for usecase in site.usecases %}
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <h3>{{ usecase.name }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <a href="{{ usecase.website }}" target="_blank"><img src="/{{ usecase.logo }}" alt="{{ usecase.name }} logo" style="width:120px"></a>
            </div>
            <div class="col-sm-8">
                <p>{{ usecase.content }}</p>
            </div>
        </div>
    {% endfor %}
</div>
